@import "../shared/helper";

header {
  width: px(1365);
  height: px(60);
  background-color: #121a36;
  color: #00cfff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: px(25);
  font-weight: bold;
  font-family: "Microsoft Yahei", "SimHei", "STHeiti";
  position: relative;
  overflow: hidden;
}

.halo {
  position: absolute;
  background-image: radial-gradient(
    ellipse,
    rgba(0, 142, 219, 1) 0%,
    rgba(18, 26, 54, 1) 58%
  );
  bottom: px(-10);
  width: px(400);
  height: px(20);
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #08082c;
  > main {
    padding-top: px(22);
    flex: 1;
    display: grid;
    grid-template: 
      "box1 box2 box3" 160fr
      "box4 box2 box5" 165fr
      "box6 box7 box8" 165fr / 400fr 512fr 400fr;
    grid-column-gap: px(10);
    grid-row-gap: px(10);
    > section {
      border: 1px solid #252b88;
      background-color: #091032;
      border-radius: 1px;
    }
    > .section1 {
      grid-area: box1;
      .接诊医师 {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100%;
        position: relative;
        > .chart1 {
            flex: 1;
            width: 100%;
        }
        > .title {
            flex-shrink: 0;
            color: #00f3ab;
            font-size: px(10);
            position: absolute;
            top: px(15);
            left: px(10);
        }
      }
    }
    > .section2 {
      grid-area: box2;
    }
    > .section3 {
      grid-area: box3;
    }
    > .section4 {
      grid-area: box4;
    }
    > .section5 {
      grid-area: box5;
    }
    > .section6 {
      grid-area: box6;
    }
    > .section7 {
      grid-area: box7;
    }
    > .section8 {
      grid-area: box8;
    }
  }
}

